<center>
<h1>Editar Topico</h1>

<%= render 'form', message: @message %>

<%= link_to 'Show', @message, :class => "btn btn-primary" %>
<%= link_to 'Back', messages_path, :class => "btn btn-primary" %>
</center>
