<p id="notice"><%= notice %></p>
<center>
<h1>Topicos</h1>
<br>
<br>

  <div class="row">
    <% @messages.each do |message| %>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
          <thead>
            <tr>
              <th>Titulo: </th>
              <%= message.title %>
              <br>
              <th>Mensagem: </th>
              <th colspan="3"></th>
              <%= message.description %>
            </tr>
          </thead>


        </div>


      </div>
    <% end %>
</div>
</div>
</div>




<%= link_to 'Novo Topico', new_message_path, :class => "btn btn-primary btn-lg" %>
</center>
